---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <section class="post-card" style="text-align:center;">
    <h1>404</h1>
    <p><strong>Page not found :(</strong></p>
    <p>The requested page could not be found.</p>
  </section>
</BaseLayout>
